/* PRIMARY ELEMENT FADE ANIMATION */
.primary-fade-enter-active,
.primary-fade-leave-active {
	transition: .4s;

	.splash {
		transition: .4s;

		> * {
			transition: .4s;
		}
	}
}

.primary-fade-enter {
	opacity: 0;
	transform: translateX(10px);

	.splash {
		transform: translateX(-10px) !important;

		> * {
			transform: translateX(10px);
		}
	}
}

.primary-fade-leave-to {
	opacity: 0;
	transform: translateX(-10px);

	.splash {
		transform: translateX(10px) !important;

		> * {
			transform: translateX(-10px);
		}
	}
}

/* PRIMARY ELEMENT FADE ANIMATION */
.splash-fade-enter-active,
.splash-fade-leave-active {
    transition: .4s
}

.splash-fade-enter, .splash-fade-leave-to {
	opacity: 0;
	transform: translateY(-100%);
}

// HORIZONTAL SLIDE ANIMATION
.slide-hor-enter-active,
.slide-hor-leave-active {
    transition: .2s
}

.slide-hor-enter {
	opacity: 0;
	transform: translateX(10px);
}

.slide-hor-leave-to {
	opacity: 0;
	transform: translateX(-10px);
}

/* ANIMATION */
.opacity-enter-active,
.opacity-leave-active {
	transition: all .4s;
}

.opacity-enter, .opacity-leave-to {
	opacity: 0;
	margin-left: -60px;
}

@keyframes loadingLine {
  0% {transform: translateX(-52px); background-color: #3490dc}
  50% {width: 14px; height: 14px;}
  100% {transform: translateX(52px); background-color: #673ab7}
}

// Toaster list
.toaster-list-enter-active, .toaster-list-leave-active {
  transition: all .5s;
}

.toaster-list-enter, .toaster-list-leave-to {
  opacity: 0;
  transform: translateY(100px);
}
.toaster-list-leave-active {
  position: absolute;
}

.toaster-list-move {
  transition: transform .5s;
}