
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Josefin+Sans:300,400,700');

// Variables
@import 'variables';

// Animations
@import 'animations';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$desktopWidth: 711px;

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5,
h6, .h6 {
  font-family: $font-family-headers;
  font-weight: 300;
  
  &.title {
    border-left: 0.2rem $blue solid;
    padding-left: 3px;
  }
}

.bordered {
  border-bottom: 1px black solid;
  padding: 0.6em 0 0.1em;
  margin: 0 0 0.1em;
}

.bg-black {
  background-color: darken($gray-900, 3) !important;
  transition: 1s ease-out;

  &.darken {
    background-color: #000 !important;
  }
}

[v-cloak] {
  display: none;
}

.page-title {
  margin-top: 1.2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.page-description {
  font-weight: 300;
}

.splash {
  background-size: cover;
  background-position: center center;
}

header {
  padding: 2em 0 1.4em 0;
  background: #fff;
  border-bottom: 1px #000 dotted;

  .logo-container {
    transition: .4s;
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: center;
    transition: .4s;
    font-family: $font-family-headers;
    font-weight: 300;
    letter-spacing: 1.5px;
    padding: .4em 0;

    a {
      display: block;
      padding: 0 1.2em;
      position: relative;
      font-size: 1.3em;
      transition: .4s;
      border-right: 1px #000 solid;
      color: #000;

      &:hover {
        text-decoration: none;
        color: #000;
      }

      &.active {
        text-decoration: underline;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

.container {
  max-width: 720px;
}

.card {
  border: 0;
  border-radius: 0;

  img[class^='card-img'] {
    border-radius: 0;
  }
}

.video-card {
  padding: 0 0 56.25% 0;
  // background: #000;
  position: relative;
  overflow: hidden;

  &:hover{
    .bottom-fade::after {
      opacity: 1;
      bottom: 1.2em;
    }
  }

  .bottom-fade {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, transparent 0%, #fff 70%);
    height: 40%;
    z-index: 15;

    &::after {
      content: 'Read more';
      font-family: $font-family-headers;
      position: absolute;
      bottom: 0.7em;
      text-align: center;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .4s;
      font-weight: 300;

      @media screen and (max-width: 576px) {
        opacity: 1;
        bottom: 1.2em;
      }
    }
  }

  .overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.2);
    z-index: 19;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      .text-container {
        border-color: transparent;
        background-color: #fff;
        color: #000;
      }
    }

    .text-container {
      text-align: center !important;
      border: 1px white dotted;
      padding: 0.7em 1em;
      transition: .4s;

      *:last-child {
        margin-bottom: -4px;
      }
    }
  }

  .video-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
  }
}

a.card {
  color: unset;
  transition: .4s;

  &:hover {
    text-decoration: none;
  }
}

.card-group.card-grid {
  display: grid;
  grid-gap: 2.2em 1.5em;

  @media screen and (max-width: 650px) {
    grid-gap: 1.8em 1.5em;
  }

  @media screen and (max-width: 600px) {
    grid-gap: 1em;
  }

  &.gr-2 {
    grid-template-columns: auto auto;

    @media screen and (max-width: 600px) {
      grid-template-columns: auto; 
    }
  }

  &.gr-3 {
    grid-template-columns: auto auto auto;

    @media screen and (max-width: 650px) {
      grid-template-columns: auto auto;      
    }

    @media screen and (max-width: 600px) {
      grid-template-columns: auto; 
    }
  }
}

p.post-group-title {
  margin: 0 0 3px 0;
  color: $gray-600;
  font-family: $font-family-headers;
  font-weight: 300;
}

a.post-row, .post-header {
  padding-left: 5px;
  border-left: 1px $text-muted solid;
}

.post-header {
  h6 {
    color: $text-muted;
  }
}

a.post-row {
  display: block;
  color: unset;
  margin-bottom: 7px;
  transition: .4s;
  font-family: $font-family-headers;
  font-weight: 300;
  
  &:hover {
    text-decoration: none;

    .post-row-title {
      text-decoration: underline;
    }
  }

  .post-row-title {
    display: block;
    font-size: 1.2em;
  }
  
  .post-row-date {
    font-size: 0.9em;
    color: $text-muted;
  }
}

.people-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;

  .person {
    text-align: center;
    font-size: 1.2em;
    margin: 10px 15px;

    .avatar {
      margin-bottom: 7px;
    }
  }
}

.avatar {
  border-radius: 50px;
}

.article-links {
  display: flex;
  margin: 1rem 0 1.5rem 0;

  a {
    display: block;
    padding: 5px 15px;
    border-bottom: 1px transparent solid;
    font-family: $font-family-headers;
    text-align: center;
    color: unset;

    &:hover {
      text-decoration: none;
    }

    &.active {
      border-color: $text-muted;
    }

    @media screen and (max-width: 600px) {
      width: 100%; 
    }
  }
}

article p {
  line-height: 1.9em;
}

footer {
  margin-top: 4em;
  padding: 1.5em 1em;
  text-align: center;
  color: $text-muted;
  font-size: 0.8em;
  border-top: 1px $gray-400 solid;
}

.loading-container {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  margin-top: 3em;
}

.loading {
  animation: loadingLine 1s ease-in-out 0s infinite alternate;
  background-color: $yiq-text-dark;
  width: 8px;
  height: 8px;
  border-radius: 25px;
}

.btn {
  border-radius: 0;
  
  &.btn-dotted {
    border-style: dotted;
  }
}

.video-title {
  position: absolute;
  background-color: #fff;
  font-family: inherit;
  top: .6em;
  display:flex;
  align-items: center;
  padding: 0 0.2em 0 0.4em;
  height: 1.6em;
  font-weight: 300;
  font-family: $font-family-headers;
  
  p {
    margin: 0;
  }
}

.video-title::after {
  content: "";
  left: 100%;
  top: 50%;
  border: solid #fff;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-width: .8em;
  margin-top: -.8em;
}

/**
 * Toaster
 */
.toaster {
  position: fixed;
  bottom: 0;
  padding: 1.5rem;
  z-index: 100;

  @media screen and (min-width: $md) {
    left: 50%;
    transform: translateX(-50%);
  }
}